@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .scrollbar::-webkit-scrollbar {
    width: 6px;
    height: 3.5rem;
  }

  .scrollbar::-webkit-scrollbar-track {
    border-radius: 100vh;
    background: transparent;
  }

  .scrollbar::-webkit-scrollbar-thumb {
    background: #808189;
    border-radius: 100vh;
    border: 3px solid #808189;
  }

  input {
  --tw-ring-shadow: 0 0 #000 !important;
}

}